<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movieflix.com - The Movie Aggregator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css" >
</head>

<body>
    <header id = "pageHeader">
      <hgroup>
    	<h1><a href="index.html" title="Movieflix">MOVIEFLIX</a></h1>
    	<h2>the movie search engine</h2>
  	  </hgroup>
    </header>
    <nav id="mainNav">
  			<ul>
    			<li><a href="" title="Top IMDB Rated" class="imdbratings">IMDB Ratings <em>Top IMDB Rated</em></a> </li>
    			<li><a href="" title="Most Voted" class="mostvoted">Most Voted <em>Most number of votes</em></a></li>
    			<li><a href="" title="High Metascore" class="metascore">Metascore <em>Movies with highest metascores</em></a></li>
    			<li><a href="" title="Most Commented" class="mostreviewed">Most Reviewed <em>Movies with the most number of reviews</em></a></li>
  			</ul>
	</nav>	
    <article id="home">
    	<section class="film">
    		<img src= "http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SX300.jpg" alt="Smiley face" > 
    		<P>Avengers: Age of Ultron</P>
    		<P>Metascore: 64</P>
    		<P>IMDB Rating: 7</P>
    		<P>Reviews: 67</P>
    	</section>
    	<section class="film">
    		<img src= "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg" alt="Smiley face" > 
    		<P>The Avengers</P>
    		<P>Metascore: 80</P>
    		<P>IMDB Rating: 7.9</P>
    		<P>Reviews: 73</P>
    	</section>
    	<section class="film">
    		<img src= "http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg" alt="Smiley face" >
    		<P>The Shawshank Redemption</P>
    		<P>Metascore: 98</P>
    		<P>IMDB Rating: 9.2</P>
    		<P>Reviews: 300</P>
    	</section>
    	<section class="film">
    		<img src= "http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg" alt="Smiley face" >
    		<P>Batman Begins</P>
    		<P>Metascore: 98</P>
    		<P>IMDB Rating: 9.2</P>
    		<P>Reviews: 300</P>
    	</section>   		
    </article>
    <aside>
    	<nav id="archives">
      		<h2>Top Movies</h2>
      		<ul>
        		<li><a href="charlotte.htm" title="The Shawshank Redemption">The Shawshank Redemption (1994)</a></li>
        		<li><a href="miami.htm" title=" The Godfather"> The Godfather (1972)</a></li>
			    <li><a href="denver.htm" title="The Godfather: Part II">The Godfather: Part II (1974)</a></li>
			    <li><a href="boston.htm" title="The Dark Knight"> The Dark Knight (2008)</a></li>
			    <li><a href="cincinnati.htm" title="Schindler's List"> Schindler's List (1993)</a></li>
			    <li><a href="lost_angeles.htm" title="12 Angry Men">12 Angry Men (1957)</a></li>
			    <li><a href="charleston.htm" title="Pulp Fiction"> Pulp Fiction (1994)</a></li>
			    <li><a href="dallas.htm" title="The Lord of the Rings"> The Lord of the Rings: The Return of the King (2003)</a></li>
			    <li><a href="providence.htm" title="The Good, the Bad and the Ugly">The Good, the Bad and the Ugly (1966)</a></li>
			    <li><a href="birmingham.htm" title="Fight Club"> Fight Club (1999)</a></li>
      		</ul>
    	</nav>
    </aside>
    <footer id = "pageFooter">
    	<form class="search-form">
    		<label for="search">Search and Filter</label>
    		<input type="search" class="form-control" placeholder="search" name="search" id="search">
    		<input type="submit" class="btn btn-primary" value="Go" name="submit">
  	  	</form>
     	<p>&copy; Copyright  by Ravion</p>
    </footer>
</body>
</html>
